<!doctype html>
<html>
<head>
    <title>Rats Rats Rats</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Joan&family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d60e865119.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1>The Daily Rat Log</h1>
  </header>
  <section class="container">
    <section class="row">

        <!-- LOCAL INFORMATION -->
        <section class="profile">
            <section class="innerProfile">
                <% if (user.local.email)  {%>
                    <p><span>User</span>: <%= user.local.firstName %></p>
                    <p><span>password</span>: <%= user.local.email %></p>
                    <% } %>

                    <a href="/logout" class="logOut"><button>Log-out</button></a>
            </section>
        </section>

        <section id="ratForm">
        <% if (user.local.email) { %>
            <form action="/ratForm" method="POST">
              <input type="date" class="info date" name="date" placeholder="Today's Date">
              <input type="text" class="info name" name="name" placeholder="Rat Name">
              <input type="text" class="info note" name="note" placeholder="Daily Notes">
              <button type="submit">Submit</button>
            </form>

          <% } %>

        </section>
    </section>
    
  </section>

  <section class="ratDisplay">
      <h3>Rat Record</h3>
      
      <section class="ratDaily">
        <ul class="ratRecord">
        <% for(var i=0; i<ratRecord.length; i++) {%>
        
          <li id="<%= ratRecord[i]._id %>">
            <p>Recorded Date:</p><span class="record date" ><%= ratRecord[i].date %></span>
            <p>Name:</p><span class="record name" ><%= ratRecord[i].name %></span>
            <p>Note:</p><span class="record note" ><%= ratRecord[i].note %></span>
            <span><i class="fa-solid fa-trash-can"></i></i></span>
            <span><i class="fa-solid fa-wrench"></i></i></span>
            
          
              <form action="/edit" method="POST" class="popUp">
                <input type="hidden" name="msgId" value="<%= ratRecord[i]._id %>" >
                <input type="date" class="info date" name="date" placeholder="Today's Date" value="<%= ratRecord[i].date %>" >
                <input type="text" class="info name" name="name" placeholder="Rat Name" value="<%= ratRecord[i].name %>" >
                <input type="text" class="info note" name="note" placeholder="Daily Notes" value="<%= ratRecord[i].note %>" >
                <button type="submit" class="updateDoc">Submit</button>
              </form>
  
          </li>
        
        <% } %>
        </ul>
  </section>
        



<script src="main.js"></script>

</body>
</html>